/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */
.debug .site_main {
  background-color: aquamarine;
}
.debug .jumbo {
  background-color: blue;
  height: 500px;
}
.debug .site_header {
  background-color: green;
  height: 50px;
}
.debug .container {
  background-color: lightcyan;
}

.debug .item_1,
.debug .item_3 {
  background-color: grey;
  height: 400px;
}
.debug .item_2 {
  background-color: lightyellow;
  height: 400px;
}
.debug .item_4 {
  background-color: lightyellow;
  height: 550px;
}
.debug .site_footer {
  background-color: darkblue;
  height: 500px;
}
.jumbo {
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* .navig {
  line-height: 130px;
} */

.container {
  width: 70%;
  margin: auto;
}

.logo,
.access {
  vertical-align: middle;
}

.logo,
.navig,
.access {
  float: left;
}

.logo,
.access {
  width: 10%;
}

.navig {
  width: 80%;
}

.navig a {
  margin-right: 1rem;
}

.logo {
  vertical-align: middle;
}

.access {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  border: none;
}
