/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */
.debug .site_main {
  background-color: aquamarine;
}
.debug .blu_img {
  background-color: blue;
  height: 500px;
}
.debug .site_header {
  background-color: green;
  height: 50px;
}
.debug .container {
  background-color: lightcyan;
}

.debug .item_1,
.debug .item_3 {
  background-color: grey;
  height: 400px;
}
.debug .item_2 {
  background-color: lightyellow;
  height: 400px;
}
.debug .item_4 {
  background-color: lightyellow;
  height: 550px;
}
.debug .site_footer {
  background-color: darkblue;
  height: 500px;
}
/* .blu_img {
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.navig {
  text-align: center;
}
.container {
  width: 1170px;
  margin: auto;
}
